@use '../abstract/variaveis';
@use '../abstract/mixins';

#desconto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    h4{
        @include mixins.ff-fs-cl(variaveis.$ft-titulos, 1.6rem, variaveis.$cor-primaria);
    }
    p{
        @include mixins.ff-fs-cl(variaveis.$ft-textos, 1.2rem, variaveis.$cor-primaria);
    }
    .input-btn{
        $largura-input: 790px;
        width: $largura-input;
        height: 65px;
        border: 1px solid variaveis.$cor-secundaria;
        border-radius: 65px;
        margin: 0 auto;
        display: inline-flex;
        input{
            @include mixins.ff-fs-cl(variaveis.$ft-textos, 1.2rem, variaveis.$cor-primaria);
            width: calc($largura-input * 0.65);
            border: none;
            outline: none;
            margin-left: 2rem;
        }
        button{
            @include mixins.ff-fs-cl(variaveis.$ft-textos, 1.2rem, white);
            width: calc($largura-input * 0.35);
            background: variaveis.$cor-secundaria;
            border-radius: 0 65px 65px 0;
            border: none;
        }
    }
}