@use '../abstract/variaveis';
@use '../abstract/mixins';

#servico{
    background: variaveis.$gradiente-primario;
    padding: 5rem 0;
    .cards{
        @include mixins.margem-central(80%);
        display: flex;
        gap: 1.5rem;
        .card{
            background: variaveis.$gradiente-secundario;
            padding: 1rem 1.5rem;
            text-align: center;
            border: 1px solid white;
            border-radius: 3rem;
            &-titulo{
                @include mixins.ff-fs-cl(variaveis.$ft-titulos, 1.6rem, variaveis.$cor-primaria);
            }
            &-texto{
                @include mixins.ff-fs-cl(variaveis.$ft-textos, 1.2rem, variaveis.$cor-primaria);
            }
        }
    }
}