//Variaveis
//Cores
$cor-primaria: #0C0421;
$cor-secundaria: #4e75ff;
$cor-terciaria: #85a0ff;
$cor-quaternaria: #E8F5C8;
$cor-default: #CAD4FA;
$gradiente-primario: linear-gradient(180deg, #E8F5C8 0%, #FFFFFF 96.87%);
$gradiente-secundario: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(202, 212, 250, 0.3) 100%);
//Fontes
$ft-textos: 'Montserrat', sans-serif;
$ft-titulos: 'Krona One', sans-serif;